@font-face {
	font-family: 'Archivo SemiExpanded';
	src: url('../fonts/ArchivoSemiExpanded-Medium.eot');
	src: url('../fonts/ArchivoSemiExpanded-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ArchivoSemiExpanded-Medium.woff2') format('woff2'),
	url('../fonts/ArchivoSemiExpanded-Medium.woff') format('woff'),
	url('../fonts/ArchivoSemiExpanded-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Archivo SemiExpanded';
	src: url('../fonts/ArchivoSemiExpanded-Bold.eot');
	src: url('../fonts/ArchivoSemiExpanded-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ArchivoSemiExpanded-Bold.woff2') format('woff2'),
	url('../fonts/ArchivoSemiExpanded-Bold.woff') format('woff'),
	url('../fonts/ArchivoSemiExpanded-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Archivo SemiExpanded';
	src: url('../fonts/ArchivoSemiExpanded-Regular.eot');
	src: url('../fonts/ArchivoSemiExpanded-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ArchivoSemiExpanded-Regular.woff2') format('woff2'),
	url('../fonts/ArchivoSemiExpanded-Regular.woff') format('woff'),
	url('../fonts/ArchivoSemiExpanded-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Archivo';
	src: url('../fonts/Archivo-Medium.eot');
	src: url('../fonts/Archivo-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Archivo-Medium.woff2') format('woff2'),
	url('../fonts/Archivo-Medium.woff') format('woff'),
	url('../fonts/Archivo-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Archivo';
	src: url('../fonts/Archivo-Regular.eot');
	src: url('../fonts/Archivo-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Archivo-Regular.woff2') format('woff2'),
	url('../fonts/Archivo-Regular.woff') format('woff'),
	url('../fonts/Archivo-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Archivo';
	src: url('../fonts/Archivo-Bold.eot');
	src: url('../fonts/Archivo-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Archivo-Bold.woff2') format('woff2'),
	url('../fonts/Archivo-Bold.woff') format('woff'),
	url('../fonts/Archivo-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Archivo';
	src: url('../fonts/Archivo-SemiBold.eot');
	src: url('../fonts/Archivo-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Archivo-SemiBold.woff2') format('woff2'),
	url('../fonts/Archivo-SemiBold.woff') format('woff'),
	url('../fonts/Archivo-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
